<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Elixir Game of Life</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="header">
      <section class="container">
        <div class="d-flex flex-column">
          <div class="logo">
            Elixir Game of Life
          </div>
          <div class="logo-subtitle">
            With Phoenix LiveView
          </div>
        </div>
      </section>
    </header>

    <%= @inner_content %>

    <footer class="footer">
      <section class="container d-flex justify-content-end">
        <a href="https://github.com/jotaviobiondo" target="_blank">João Otávio Biondo</a>
      </section>
    </footer>
  </body>
</html>
